---
apiVersion: v1
kind: Secret
metadata:
  name: client-info-secret
  namespace: {{ synology_csi_namespace }}
type: Opaque
stringData:
  client-info.yml: |
    clients:
      - host: "{{ synology_csi_endpoint }}"
        port: {{ synology_csi_port }}
        https: true
        username: "{{ synology_csi_username }}"
        password: "{{ synology_csi_password }}"
{% if not synology_csi_tls_verify %}
        tls_verify: false
{% endif %}
