---
apiVersion: v1
kind: Secret
metadata:
  name: synology-credentials
  namespace: synology-csi
type: Opaque
stringData:
  client-info.yaml: |
    clients:
    - host: {{ synology_csi_endpoint }}
      port: 5000
      https: false
      username: {{ synology_csi_username }}
      password: {{ synology_csi_password }}
