---
# Let's Encrypt staging ClusterIssuer (for testing)
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: {{ cert_manager_staging_issuer }}
spec:
  acme:
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    email: {{ cert_manager_email }}
    privateKeySecretRef:
      name: {{ cert_manager_staging_issuer }}-account-key
    solvers:
    - dns01:
{% if cert_manager_dns_provider == 'cloudflare' %}
        cloudflare:
          apiTokenSecretRef:
            name: {{ cert_manager_dns_provider }}-credentials
            key: api-token
{% elif cert_manager_dns_provider == 'route53' %}
        route53:
          region: {{ cert_manager_dns_provider_credentials.region | default('us-east-1') }}
{% elif cert_manager_dns_provider == 'digitalocean' %}
        digitalocean:
          tokenSecretRef:
            name: {{ cert_manager_dns_provider }}-credentials
            key: access-token
{% elif cert_manager_dns_provider == 'google' %}
        cloudDNS:
          project: {{ cert_manager_dns_provider_credentials.project }}
          serviceAccountSecretRef:
            name: {{ cert_manager_dns_provider }}-credentials
            key: service-account.json
{% endif %}
