---
apiVersion: v1
kind: ConfigMap
metadata:
  name: multus-daemon-config
  namespace: kube-system
data:
  daemon-config.json: |
    {
      "confDir": "/host/etc/cni/net.d",
      "logLevel": "verbose",
      "socketDir": "/host/run/multus/",
      "cniVersion": "0.3.1",
      "cniConfigDir": "/host/etc/cni/net.d",
      "multusConfigFile": "auto",
      "multusAutoconfigDir": "/host/etc/cni/net.d",
      "binDir": "/hostroot{{ multus_delegate_cni_bin_dir }}"
    }
